.Rhistory
.Rproj.user
.vscode
.Rdata

__pycache__

creds.json
data/ninja/ninja_pv_europe_v1.1_merra2.csv
data/ninja/ninja_pv_europe_v1.1_sarah.csv
data/ninja/Ninja-PV-Readme-v1.1.pdf
data/ninja/Meta Data for Wind Farms.xlsx
data/ninja/Ninja-Wind-Readme-v1.1.pdf
data/ninja/ninja_wind_europe_v1.1_current_national.csv
data/ninja/ninja_wind_europe_v1.1_current_on-offshore.csv
data/ninja/ninja_wind_europe_v1.1_future_longterm_national.csv
data/ninja/ninja_wind_europe_v1.1_future_nearterm_national.csv
data/ninja/ninja_wind_europe_v1.1_future_nearterm_on-offshore.csv
data/ninja/pv.zip
data/ninja/wind.zip
data/ninja/pv-gis-38-east.csv
data/ninja/pv-gis-38-west.csv
data/ninja/pv-gis-opt-east.csv
data/ninja/pv-gis-opt-opt.csv
data/ninja/pv-gis-opt-west.csv
data/ninja/pv-gis-opt.csv
data/ninja/pv-gis-two-axis.csv
data/ninja/pv-gis-vertical-east.csv
data/ninja/pv-gis-vertical-north.csv
data/ninja/pv-gis-vertical-south.csv
data/ninja/pv-gis-vertical-west.csv

# pixi environments
.pixi
*.egg-info
